body {
    margin: 0;
    background-color: #d4cecd;
}

header {
    margin: 0 auto;
    padding: 1px 20px;
    padding-left: 0px;
    height: 130px;
    background-color: #242222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    background-color: #292cf0;
    width: 225px;
    height: 40px;
    font-size: 30px;
    font-family: marker felt, fantasy;
    margin-right: 900px;
    padding: 20px 0px 20px 120px; 
}

h3 {
    border-right: 3px solid #292cf0;
    padding: 70px;
    padding-left: 65px;
    font-size: 32px;
    width: 100px;
}

li {
    list-style: none;
}

p {
    font-size: 18px;
    font-weight: bold;
}

.top-nav {
    display: flex;
    flex: row;
    justify-content: right;
    color: #292cf0;
    font-size: 30px;
    font-family: marker felt, fantasy;
}

a {
    text-decoration: none;
    color: #292cf0;
    /*border-bottom: 3px solid #292cf0;*/
}

.below-head {
    background-color: #292cf0;
    color: #242222;
    display: flex;
    justify-content: center;
    padding: 1px;
    margin-bottom: 25px;
    font-size: 24px;
    font-family: marker felt, fantasy;
    font: bold;
}

.profile {
    height: 200px;
    width: 220px;
    border-radius: 50%;
    margin: 30px;
}

.about-me {
    display: flex;
    align-items: center;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact nav li {
    display: flex;
    margin-right: 680px;
    font-size: 24px;
}

.hub {
    color: black;
}

.about-head {
    padding-right: 65px;
}

.work-container {
    display: flex
}

.big-img {
    width: 650px;
    height: 612px;
    border: 5px solid #292cf0;
    margin: 0 20px;
}

.small-project-cards {
    /*border: 2px solid orange;*/
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-basis: 50%;
    justify-content: space-between;
    padding-right: 200px;
    /*height: 630px;*/
    align-items: center;
}

.small-project-cards img {
    width: 290px;
    height: 170px;
    border: 5px solid #292cf0;
}

.clock {
    display: flex;
}

.clock-text {
    position: relative;
    font-size: 36px;
    background-color: rgba(161, 86, 127, 0.5);
    left: 148px;
    top: 414px;
    height: 200px;
    width: 120px;
    border: 2px solid black;
}

.calc-text {
    position: relative;
    font-size: 22px;
    background-color: rgba(161, 86, 127, 0.5);
    border: 2px solid black;
    width: 120px;
    top: 175px;
    left: 5px;
}

.weather-text {
    position: relative;
    font-size: 22px;
    background-color: rgba(161, 86, 127, 0.5);
    border: 2px solid black;
    width: 180px;
    top: 175px;
    left: 5px;
}

.ttt-text {
    position: relative;
    font-size: 22px;
    background-color: rgba(161, 86, 127, 0.5);
    border: 2px solid black;
    width: 125px;
    top: 175px;
    left: 5px;
}

.to-do-text {
    position: relative;
    font-size: 22px;
    background-color: rgba(161, 86, 127, 0.5);
    border: 2px solid black;
    width: 125px;
    top: 175px;
    left: 5px;
}

a:hover {
    opacity: 0.4;
}

.heads {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25px;
    border-right: 2px solid #292cf0;
}