body {
    margin: 0;
    background-color: #d4cecd;
}

header {
    margin: 0 auto;
    padding: 1px 20px;
    padding-left: 0px;
    height: 130px;
    background-color: #242222;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    background-color: #292cf0;
    color: white;
    width: 225px;
    height: 40px;
    font-size: 30px;
    font-family: marker felt, fantasy;
    padding: 20px 0px 20px 120px; 
}

h2 {
    color: white;
}

h3 {
    border-right: 3px solid #292cf0;
    padding: 70px;
    padding-left: 65px;
    font-size: 32px;
    width: 100px;
}

li {
    list-style: none;
}

p {
    font-size: 18px;
    font-weight: bold;
}

.top-nav {
    display: flex;
    flex-wrap: wrap;
    /*flex: 1 0 0;*/
    justify-content: center;
    align-items: center;
    color: #292cf0;
    font-size: 30px;
    font-family: marker felt, fantasy;
}

a {
    text-decoration: none;
    color: #292cf0;
    /*border-bottom: 3px solid #292cf0;*/
}

.below-head {
    background-color: #292cf0;
    color: #242222;
    display: flex;
    justify-content: center;
    padding: 1px;
    margin-bottom: 25px;
    font-size: 24px;
    font-family: marker felt, fantasy;
    font: bold;
}

.profile {
    height: 200px;
    width: 220px;
    border-radius: 50%;
    margin: 30px;
}

.about-me {
    display: flex;
    align-items: center;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact nav li {
    display: flex;
    margin-right: 680px;
    font-size: 24px;
}

.hub {
    color: black;
}

.about-head {
    padding-right: 65px;
}

a:hover {
    opacity: 0.4;
}

.heads {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25px;
    border-right: 2px solid #292cf0;
}
img {
    width: 25%;
    padding: 10px;
}

.contain-work {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.work-img {
    padding-left: 40px;
    width: 110px;
    height: 100px;
}

.work-txt {
    margin-left: 20px;
    padding-left: 30px;
    color: black;
}

h1 {
    padding-bottom: 30px;
}

@media screen and (max-width: 768px) {
    .card,
    .card:first-child {
      flex-basis: 100%;
      width: 50%;
    }
  
    .card:first-child {
      min-height: 150px;
    }

    .footer-contact {
        display: flex;
        flex-direction: column;
    }
  }
